/* Shared Common Styles */
body{
    font-family: 'Open Sans', sans-serif;
}

.primary-text{
    color: #FD6E0A;
}

.primary-btn{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

/* NavBar Styles */

nav{
    display: flex;
    margin: 5px 200px;
    align-items: center;
    justify-content: space-between;
}

nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}

#logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

/* Header Section Styles */

.header-section{
    background-color: #FFF8F3;
    background-image: url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
}
.b-content{
    max-width: 500px;
}
.b-greeting{
    font-size: 45px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 0;
}
.b-name{
    font-size: 85px;
    color: #181818;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.b-des{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}