/* Shared Common Styles */
body{
    font-family: 'Open Sans', sans-serif;
}

.primary-text{
    color: #FD6E0A;
}

.primary-btn{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    cursor:pointer;
}

.primary-btn:hover{
    background-image: linear-gradient(45deg, #3f2727, #0e0e61);
    color: cornsilk;
    border: 0.5px solid cadetblue;
    border-radius: 5px;
    text-decoration: wavy;
}

main{
    max-width: 75vw;
    margin: 0 auto;
}

.shared-style{
    margin: 150px 0;
}
.section-title{
    color:  #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.description-text-color{
    color: #757575;
}



/* NavBar Styles */

nav{
    display: flex;
    margin: 5px 200px;
    align-items: center;
    justify-content: space-between;
}

nav > ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #474747;
}

#logo{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

/* Header Section Styles */

.header-section{
    background-color: #FFF8F3;
    background-image: url('images/header_bg.png'), url("images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, center left;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0px 150px;
}
.b-content{
    max-width: 40vw;
}
.b-greeting{
    font-size: 45px;
    font-weight: 700;
    color: #474747;
    margin-bottom: 0;
}
.b-name{
    font-size: 85px;
    color: #181818;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
}
.b-des{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.btn-contact{
    color: #FD6E0A;
    background: transparent;
    border: 1px solid #FD6E0A;
    margin-left: 10px;
}


/* Main Section Work */

/* About me section */

.about-me{
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    margin: 150px 0;
    text-align: center;
}

.about-items-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.item-details{
    color: #474747;
}

/* What I do section */

.What-I-do{
    padding: 30px 130px;
    text-align: center;

}

.skills-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.skills{
    height: 300px;
    width: 200px;
    padding: 30px;
    box-shadow: 0px 6px 50px 0px #0000000f;
}